<div class="intro-container">
    <div class="intro-flex">
        <div class="intro-text">
            <div class="location">
                <span class="material-icons-outlined">location_on</span>
                <p> Hyderabad, India</p>
            </div>
            <div class="greeting">
                <h1>Hello , <br>
                I'm Adarsh</h1>
                <p> I am a angular developer working in Accubits Technologies. Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, quis delectus reprehenderit commodi temporibus in cum eos tempora </p>

            </div>
            <div class="social-media">
                <div class="email">
                    <p>Email</p>
                    <span class="material-icons-two-tone">
                        arrow_outward
                        </span>
                </div>
                <div class="linkedin">
                    <p>LinkedIn</p>
                    <span class="material-icons-two-tone">
                        arrow_outward
                        </span>
                </div>
                <div class="resume">
                    <p>Resume</p>
                    <span class="material-icons-two-tone">
                        arrow_outward
                        </span>
                </div>
            </div>

        </div>
        <!-- <div class="intro-img">
            <img src="../../../../assets/images/cover.png" class="cover-img">
        </div> -->
    </div>
</div>
