<div class="award-wrap">
  <div class="award-cont">
    <div class="accu-div">
      <div class="info-icon" (mouseover)="showInfo = true" (mouseleave)= "showInfo = false"  (wheel)="showInfo = false"   >
        <i class="fa-solid fa-circle-info"></i>
      </div>
      <div  *ngIf="showInfo" class="hover-info">
        Accustar awards are a highly esteemed recognition program within our organization,
         which seeks to acknowledge and reward outstanding contributions by employees.
        These awards are presented on a monthly basis to individuals who have demonstrated exceptional performance,
         dedication, and a commitment to driving growth and success within the company.
      </div>
       <div class="img-award">
        <img src="../../../../assets/images/accustar2.jpg" class="accu-img">
      </div>
       <p>for working long hours and remaining focused under pressure,
         while still maintaining a high level of accuracy and quality in my work.This commitment has been acknowledged through my receipt of the Accustar award for outstanding performance in the Month of May 2022</p>

    </div>
    <div class="accu-div">
      <div class="info-icon" (mouseover)="showInfo = true" (mouseleave)= "showInfo = false"  (wheel)="showInfo = false"   >
        <i class="fa-solid fa-circle-info"></i>
      </div>
      <div  *ngIf="showInfo" class="hover-info">
        Accustar awards are a highly esteemed recognition program within our organization,
         which seeks to acknowledge and reward outstanding contributions by employees.
        These awards are presented on a monthly basis to individuals who have demonstrated exceptional performance,
         dedication, and a commitment to driving growth and success within the company.
      </div>
       <div class="img-award">
        <img src="../../../../assets/images/accustar.jpg" class="accu-img">
      </div>
       <p>I am recognized for my dedication and hard work, going above and beyond expectations to meet project deadlines.
         This commitment has been acknowledged through my receipt of the Accustar award for outstanding performance in the Month of July 2022</p>

    </div>
  </div>
</div>
