<div class="header-container">
  <div class="name">
      <h1 (click)="cover()">Kuchipudi Adarsh Kumar</h1>
  </div>
  <div class="cv-theme">
    <div class="cv-btn">
      <a download="Kuchipudi_Resume" href="../../../../assets/images/Remogram.pdf" class="cv btn-download" > Here is my CV</a>

    </div>
    <div class="mode" (click)="switchTheme()">
      <span [ngClass]="{'light-theme': theme === 'light-theme', 'hide': theme === 'dark-theme'}"  class="material-icons-sharp">
          light_mode
      </span>
      <span [ngClass]="{'dark-theme': theme === 'dark-theme', 'hide': theme === 'light-theme'}"  class="material-icons-sharp">
          dark_mode
      </span>

    </div>
  </div>
</div>
