<div class="navbar-wrap">
  <div class="navbar-cont">
    <button  class="experience-cont" routerLink="experience" routerLinkActive="list-item-active" >
      Experience
    </button>
    <button class="projects-cont"  routerLink="projects" routerLinkActive="list-item-active">
      Projects
    </button>
    <button class="experience-cont"  routerLink="education" routerLinkActive="list-item-active">
      Education
    </button>
    <button class="awards-cont"  routerLink="awards" routerLinkActive="list-item-active">
      Awards
    </button>
    <button class="contact-cont"  routerLink="contact" routerLinkActive="list-item-active">
      Contact
    </button>
  </div>
</div>
