.navbar-wrap{
  display: flex;
  width: 100%;
  justify-content: center;
  .navbar-cont{
    width: max-content;
    background: grey;
    border-radius: 50px;
    button{
        padding: 0.5em;
        font-size: 16px;
        line-height: 24px;
        width: auto;
        background: transparent;
        border-radius: 50px;
        border-style: none;
        transition: background-color 0.3s ease-in-out;
      }
      button:focus{
        background:red;
        outline: none;
      }
      .list-item-active{
        background: red !important;
      }
  }

}
