<!-- <div class="header-container">
    <div class="name">
        <h1>Kuchipudi Adarsh Kumar</h1>
    </div>
    <div class="mode" (click)="switchTheme()">
        <span [ngClass]="'light-theme'"  class="material-icons-sharp">
            light_mode
        </span>
        <span [ngClass]="'dark-theme'"  class="material-icons-sharp">
            dark_mode
        </span>

    </div>
</div> -->

<!-- <div class="navbar-cont">
  <div class="navbar-list">
    <ul class="nav">
      <li class="active">
        <a class="nav-link" >
          <i class="material-icons">menu</i>
          <span>Kuchipudi Adarsh Kumar</span>

        </a>
      </li>
      </ul>
  </div>
</div> -->
