img{
    max-width: 100%;
    display: block;
}

.person{
    max-width: 20rem;
    position: relative;
    margin-inline: auto; //to center content
}
.person-cont{
    //background: pink;
    aspect-ratio: 1/1.25;
    display: grid;
    align-items: center;
    border-radius: 0 0 100vw 100vw; //for straight line curve if we use 1000% it would be in oval shape
    overflow: hidden;
    transition: transform var(--transform-speed) ease-in;
}
.person-cont:hover{
    transform: scale(1.05);
}
.person-circle{
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: var(--btn-bg);;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    //width: 50%;
    inset: auto 0 0;
    margin-inline: auto;
}
.person-img{
    position: relative;
    z-index: 2;
    inset: 0em 1.5em;
    transform: scale(1);
    transition: transform calc(var(--transform-speed) * 1.1) ease-in;

}
.person-cont:hover .person-img {
    transform: scale(1.05) translateY(-1rem);
}
